/* 1
*/



*{
    margin: 0;
}

/*
2.
*/
body{
    color: #000000;
    display: block;
    font-family: Tahoma ,Verdana ,Arial  ;
    background-image: url("/assets/images/dark-wood.jpg");
    margin: 0px 0px 0px 0px;
    
}

/*
3.
*/
.container{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#e4fffd;
}

/*
4.
*/
.content{
    line-height: 1.4em;
    padding: 10px;
}

/*
5.
*/ 
header, #main-nav, footer{
    background-color: #84f2e9;
    color: #000000  ;
}


/*
6. 7.
*/
#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #84f2e9;
  }
#main-nav li{
    margin: 0px;
    padding: 5px;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    display:inline;
    
        

}
#main-nav li a {
    text-align: center;
    margin-left: 100px;
    padding: 14px 16px;
    text-decoration: none;
  }


/*
8.
*/

li a:link{
    color: #000000;
    text-decoration: none;
}


li a:visited{
    color: #096a09;
    text-decoration: none;
}
li a:hover{
    color: #000000;
    outline: auto #000000;
    text-decoration: none;
}
li a:active{
    color: #0000FF;
    text-decoration: none;
}


/*
9.
*/
#main-nav a{
    color: #000000;
    text-decoration: none;
    
}

/*
10.
*/
.content h1, .content h2, .content h3{
    margin: 10px;
    text-transform: uppercase;
    color: #096a09;
}

/*
11.
*/
.img-centre{
    display: block;
    margin: 5px auto;
    padding: 2px;
}

/*
12.
*/
.content audio, .content video{
    display:block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*
13. 
*/
.content table{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

/*
14.
*/
.content table td,.content table th {
    border-width: thick;
    border-style: solid;
    border-color: black;
    padding: 2px 5px 2px 5px;
    background-color: #84f2e9;
}

/*
15.
*/
.content th{
    text-transform: uppercase;
    background-color: #009edd;
}
.content table tfoot td{
    background-color: #000000;
}

/*
16.
*/

.content dt{
    font-weight: bold;
}

/*
17. pas fini
*/

footer {
    font-size: 80%;
    text-align: center;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 1px;
}

/*
18.
*/
.content iframe{
    display: block  ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/*
19.
*/
.content fieldset{
    width: 500px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
        border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #84f2e9;
}


/*
20.
*/
.content legend{
    padding: 0px 5px 0px 5px;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-style: italic;
    background-color: #e4fffd;
    margin: 0px 10px 0px 10px;
    
}

/*21*/
input[type=submit] {
    background-color: #e4fffd;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/*
22
 */
input[type=submit]:hover {
    border-style: solid;
    border-color: black;
  }









